<div class="card mx-auto mb-5">
  <div class="card-header">
    <h3>{{ ingredientDetails.name }}</h3>
  </div>
  <div class="card-body row">
    <div class="col-md-4">
      <img
        [src]="ingredientDetails.image"
        [alt]="ingredientDetails.name"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body h-100 d-flex flex-column justify-content-between">
        <p class="card-text">
          {{ ingredientDetails.description }}
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex gap-5 justify-content-evenly">
    <small *ngIf="ingredientDetails.type">
      <span class="fw-bold">Type:</span> {{ ingredientDetails.type }}
    </small>
    <small *ngIf="ingredientDetails.alcohol">
      <span class="fw-bold">Alcohol:</span>
      {{ ingredientDetails.alcohol }}
    </small>
  </div>
</div>

<div class="my-5">
  <p class="text-muted">{{ drinks.length }} drinks found</p>
</div>

<app-drink-list [drinks]="drinks"></app-drink-list>
